.form {
    margin: 40px auto;
    display: block;

    .row {
        display: flex;
        justify-content: space-between;
        margin: 0 0 40px;
        input {
            width: 44%;
        }
    }

    button {
        cursor: pointer;
        background: #303033;
        border-radius: 40px;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        margin: 40px auto;
        color: #fff;
        display: block;
        height: 51px;
        min-width: 230px;
        border: none;
    }
}