@import './../../css/_colors.scss';
@import '../../../src/css/media';

.header {
    background: $gradient-bg;
    padding: 20px 0;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    @media screen and (min-width: $xl) {
        padding:49px 0 40px;    
    }
}

.logo {
    color: $white;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    @media screen and (min-width: $xl) {
        font-size: 24px;
    }
}